.speech{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.stage-direction{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: lightslategrey;
}
.name{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.stage-direction:hover{
    background-color: lightcyan;
    color:red;
}
.DUKE SOLINUS{
    color:red;
}
.AEGEON{
    color:yellow;
}
.SOLINUS{
    color:red;
}
.Gaoler{
    color:cyan;
}
table, th, td {
    border: 5px solid black; 
    width:auto;
    border-collapse: collapse;
    text-align: center;
   
  }
  td, th {
    padding: 10px 10px;
  }
 th{
    background-color:antiquewhite
}
td{
    background-color:grey;
}
table{
    margin: 25px 50px 75px 100px;
  }
table{
    border-style: double;
}